<h1>Welcome to <%= @user.username %>'s page </h1>

<div>
  <%= gravatar_for @user, size: 150 %>
</div>

<h4> <%= @user.username %>'s articles </h4>

<div align="center">
  <%= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<div align="center">
  <%= will_paginate @user_articles %>
</div>